:root {
  --color-accent: #ff8946;
  --color-primary: #35b8be;
  --color-primary-darker: color-mix(in srgb, var(--color-primary), #000 15%);
  --color-primary-darkest: color-mix(in srgb, var(--color-primary), #000 30%);
  --color-primary-ligher: #35b8be;
  --color-secondary: #f5fbfc;
  --color-body: #546285;
  --color-heading-black: #191b22;
  --color-heading-darker: #1b9097;

  --border-radius-rm: 6px;
}

* {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: normal;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.8rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5.5rem;
  }
}

/* Links */

a {
  color: var(--color-primary);
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icon */

.icon {
  width: 25px;
  height: 25px;
}

.icon--white {
  fill: white;
}

.icon--black {
  fill: #333;
}

/* Buttons */

.btn {
  align-items: center;
  border-radius: var(--border-radius-rm);
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: center;
  line-height: 1.1;
  min-height: 44px;
  min-width: 10ch;
  padding: 1.15em 1.75em;
  text-align: center;
  transition: 110ms all ease-in-out;

  &:hover {
    filter: brightness(105%) saturate(105%);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 2px var(--color-primary-darker);
  }
}

.btn--stretch {
  padding: 0 3rem;
}

.btn--shrink {
  padding: 0.1rem 1.5rem;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--transparent {
  background-color: rgb(0, 0, 0, 0.05);

  &:hover {
    background-color: rgb(0, 0, 0, 0.1);
  }
}

.btn--waves {
  background-color: var(--color-primary);
  background-image: url(../images/button-wave.svg);
  background-size: cover;
  color: white;
}

.btn--outline {
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgb(0, 0, 0, 0.02);
  }
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--black {
  background-color: black;
  color: white;
}

.btn--white {
  background-color: white;
  color: var(--color-primary);

  &:hover {
    background-color: rgb(0, 0, 0, 0.02);
  }
}

.btn--icon {
  padding: 1.5rem;
  min-width: 0;
  min-height: 0;
  vertical-align: sub;
}

/* Media */

.media {
  text-align: center;
  text-rendering: optimizeLegibility;
}

.media__body {
  margin: 0 3rem;
}

.media__title {
  color: #000;
  line-height: 1.1;
  margin: 3rem 0 1rem 0;
}

/* product-contaner */

.product-contaner {
  padding: 1.5rem;
  border-radius: var(--border-radius-rm);
  display: flex;
  flex-direction: column;
  min-height: 200px;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.05);
}

.product-contaner__picture {
  border-radius: 10px;
  margin-bottom: 3rem;
}

.product-contaner__header {
  display: flex;
  flex-direction: column;
}

.product-contaner__title {
  margin: 0;
  margin-bottom: 0.25rem;
  color: black;
  letter-spacing: -1px;
}

.product-contaner__price-tag {
  color: var(--color-primary);
  font-size: 1.6rem;
}

.product-contaner__description {
  font-size: 1.6rem;
}

.product-contaner__input-group {
  display: flex;
}

.product-contaner__input {
  color: #333;
  max-width: 60px;
  border-radius: var(--border-radius-rm);
  border: 1px solid #ddd;
  background-color: #fafafa;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.product-contaner__input-group .btn {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .product-contaner {
    flex-direction: row;
    padding: 2rem;
  }

  .product-contaner__picture {
    max-width: 150px;
    margin-bottom: 0;
  }

  .product-contaner__body {
    margin-left: 3rem;
  }

  .product-contaner__header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Summary Contents */

.summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: white;
}

.summary-content__image {
  max-width: 100px;
}

.summary-content__number {
  font-size: 7.5rem;
}

.summary-content__name {
  font-size: 2rem;
  margin-bottom: 0;
}

/* Collapsibles */
/* TODO: Add color to plus icon at expanded */
.collapsible__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f6f6f6;
  padding: 2rem 0;
}

.collapsible__heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-primary);
}

.collapsible__icon {
  cursor: pointer;
  max-width: 20px;
  user-select: none;
  margin-right: 1.5rem;
  transition: all 0.2s;
}

.collapsible__content {
  margin-top: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(45deg);
}

/* Cart */

.cart {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  position: relative;
}

.cart__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 2rem 0;
}

.cart__heading {
  color: #222;
  font-size: 2.75rem;
  margin: 0;
}

.cart__list {
  flex-grow: 1;
}

.cart__list::before {
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 0.5px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  transform: translateY(-20px);
}

.cart__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.75rem;
}

.cart__product-image {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}

.cart__product-body {
  color: #333;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart__product-container {
  display: flex;
  justify-content: space-between;
}

.cart__product-name {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.cart__product-price {
  margin: 0;
  font-size: 1.6rem;
}

.cart__product-remove {
  color: var(--color-accent);
  display: block;
  font-size: 1.6rem;
  margin: 0;
  position: relative;
  top: -3px;
}

.cart__product-input {
  flex: 1;
  color: #333;
  max-width: 60px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 1.5rem;
  padding-left: 1rem;
  letter-spacing: -2px;
}

.cart__checkout::before {
  position: absolute;
  transform: translateY(-20px);
  left: 0;
  right: 0;
  margin: 0;
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cart__summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__subtotal-number {
  font-weight: 700;
  font-size: 1.8rem;
  color: #222;
}

.cart__checkout .btn {
  padding: 0.75rem 0;
}

.cart__checkout .btn {
  font-size: 1.5rem;
  border-radius: 4px;
}

.cart__checkout .btn:first-of-type {
  margin-bottom: 1rem;
}

/* Blocks */

.block {
  padding: var(--padding-bottom) 2rem;
  position: relative;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block__background-1 {
  background-image: url(/images/BG-Shape-1.svg);
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 70vh;
}

.block__background-2 {
  background-image: url(/images/BG-Shape-2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 60vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navbar */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__logo {
  width: 40px;
  margin-left: 0.5rem;
}

.nav__list {
  width: 100%;
}

.nav__item {
  font-size: 1.6rem;
  margin: 4rem 0;
  display: inline-flex;
}

.nav .btn:first-of-type {
  margin-right: 0.75rem;
}

.nav .collapsible__content {
  margin: 1rem;
}

.nav.collapsible--expanded .nav__toggler {
  background-color: var(--color-primary);
  fill: white;
}
