:root {
  --color-accent: #ff8946;
  --color-primary: #35b8be;
  --color-primary-darker: color-mix(in srgb, var(--color-primary), #000 15%);
  --color-primary-darkest: color-mix(in srgb, var(--color-primary), #000 30%);
  --color-primary-ligher: #35b8be;
  --color-secondary: #f5fbfc;
  --color-body: #546285;
  --color-heading-black: #191b22;
  --color-heading-darker: #1b9097;

  --border-radius-rm: 6px;
}

* {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: normal;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.8rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5.5rem;
  }
}

/* Links */

a {
  color: var(--color-primary);
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icon */

.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: white;
}

.icon--black {
  fill: #333;
}

/* Buttons */

.btn {
  align-items: center;
  border-radius: var(--border-radius-rm);
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: center;
  line-height: 1.1;
  min-height: 44px;
  min-width: 10ch;
  padding: 1.15em 1.75em;
  text-align: center;
  transition: 110ms all ease-in-out;
  background-color: rgba(126, 130, 143, 0.1);
  color: var(--color-heading-black);

  &:hover {
    filter: brightness(105%) saturate(105%);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 2px var(--color-heading-black);
  }
}

.btn--stretch {
  padding: 0 3rem;
}

.btn--shrink {
  padding: 0.1rem 1.5rem;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--transparent {
  background-color: rgb(0, 0, 0, 0.05);

  &:hover {
    background-color: rgb(0, 0, 0, 0.1);
  }
}

.btn--waves {
  background-color: var(--color-primary);
  background-image: url(../images/button-wave.svg);
  background-size: cover;
  color: white;
}

.btn--outline {
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgb(0, 0, 0, 0.02);
  }
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--black {
  background-color: black;
  color: white;
}

.btn--white {
  background-color: white;
  color: var(--color-primary);

  &:hover {
    background-color: rgb(0, 0, 0, 0.02);
  }
}

.btn--icon {
  padding: 1rem;
  min-width: 0;
  min-height: 0;
  vertical-align: sub;
}

/* Media */

.media {
  text-align: center;
  text-rendering: optimizeLegibility;
}

.media__body {
  margin: 0 3rem;
}

.media__title {
  color: #000;
  line-height: 1.1;
  margin: 3rem 0 1rem 0;
}

/* product-contaner */

.product-contaner {
  padding: 1.5rem;
  border-radius: var(--border-radius-rm);
  display: flex;
  flex-direction: column;
  min-height: 200px;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.05);
}

.product-contaner__picture {
  border-radius: 10px;
  margin-bottom: 3rem;
}

.product-contaner__header {
  display: flex;
  flex-direction: column;
}

.product-contaner__title {
  margin: 0;
  margin-bottom: 0.25rem;
  color: black;
  letter-spacing: -1px;
}

.product-contaner__price-tag {
  color: var(--color-primary);
  font-size: 1.6rem;
}

.product-contaner__description {
  font-size: 1.6rem;
}

.product-contaner__input-group {
  display: flex;
}

.product-contaner__input {
  color: #333;
  max-width: 60px;
  border-radius: var(--border-radius-rm);
  border: 1px solid #ddd;
  background-color: #fafafa;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.product-contaner__input-group .btn {
  font-size: 1.6rem;
}

@media screen and (min-width: 685px) {
  .product-contaner {
    flex-direction: row;
    padding: 2rem;
  }

  .product-contaner__picture {
    max-width: 150px;
    margin-bottom: 0;
  }

  .product-contaner__body {
    margin-left: 3rem;
  }

  .product-contaner__header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Summary Contents */

.summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: white;
}

.summary-content__image {
  max-width: 100px;
}

.summary-content__number {
  font-size: 7.5rem;
}

.summary-content__name {
  font-size: 2rem;
  margin-bottom: 0;
}

/* Collapsibles */
/* TODO: Add color to plus icon at expanded */
.collapsible__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f6f6f6;
  padding: 2rem 0;
}

.collapsible__heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-primary);
}

.collapsible__icon {
  cursor: pointer;
  max-width: 20px;
  user-select: none;
  margin-right: 1.5rem;
  transition: all 0.2s;
}

.collapsible__content {
  margin-top: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(45deg);
}

/* Cart */

.cart {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  position: relative;
}

.cart__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 2rem 0;
}

.cart__heading {
  color: #222;
  font-size: 2.75rem;
  margin: 0;
}

.cart__list {
  flex-grow: 1;
}

.cart__list::before {
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 0.5px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  transform: translateY(-20px);
}

.cart-close {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  & .icon {
    height: 25px;
    width: 25px;
  }
}

.cart__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.75rem;
}

.cart__product-image {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}

.cart__product-body {
  color: #333;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart__product-container {
  display: flex;
  justify-content: space-between;
}

.cart__product-name {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.cart__product-price {
  margin: 0;
  font-size: 1.6rem;
}

.cart__product-remove {
  color: var(--color-accent);
  display: block;
  font-size: 1.6rem;
  margin: 0;
  position: relative;
  top: -3px;
}

.cart__product-input {
  flex: 1;
  color: #333;
  max-width: 60px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 1.5rem;
  padding-left: 1rem;
  letter-spacing: -2px;
}

.cart__checkout::before {
  position: absolute;
  transform: translateY(-20px);
  left: 0;
  right: 0;
  margin: 0;
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cart__summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__subtotal-number {
  font-weight: 700;
  font-size: 1.8rem;
  color: #222;
}

.cart__checkout .btn {
  padding: 0.75rem 0;
}

.cart__checkout .btn {
  font-size: 1.5rem;
  border-radius: 4px;
}

.cart__checkout .btn:first-of-type {
  margin-bottom: 1rem;
}

/* Blocks */

.main-grid {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  padding-bottom: var(--padding-bottom);
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.background-1 {
  position: absolute;
  top: 0;
  z-index: -2;
  right: 0;
  width: auto;
}

.background-2 {
  position: absolute;
  top: 0;
  z-index: -2;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
}

.background-yumm {
  position: absolute;
  z-index: -1;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-container-2 {
  background-image: url(/images/BG-Shape-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  padding: 8rem 0;
}

.wide-contaner {
  max-width: 1500px;
  padding: 8rem 0;
}

@media screen and (min-width: 990px) {
  .wide-contaner {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .bg-container-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  .wide-contaner {
    margin: 0 auto;
  }
  .bg-container-2 {
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .bg-container {
    position: relative;
    z-index: -2;
  }

  .block {
    padding: 0;
  }
}

.grid-1x2 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 990px) {
  .grid-1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-1x3 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 990px) {
  .grid-1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Header Banner */

.header-banner {
  display: none;
}

@media screen and (min-width: 480px) {
  .header-banner {
    display: block;
    background-color: var(--color-primary);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    background-image: url(../images/banner-wave.svg);
    background-size: cover;
  }

  .header-banner p {
    padding: 0;
    margin: 0;
  }

  .header-banner a {
    color: white;
    text-decoration: none;
  }
}

/* Navbar */

.header {
  background: transparent;
  position: relative;
  padding: 2rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  margin-bottom: 4rem;
}

.header__logo {
  width: 40px;
  margin-left: 0.7rem;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & .btn:first-of-type {
    margin-right: 1.25rem;
  }
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 0;
  box-shadow: 0px 50px 50px rgba(117, 124, 126, 0.1);
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;

  &.navigation--expanded {
    max-height: 100vh;
  }
}

.navigation--expanded + .btn {
  background-color: var(--color-primary);
  fill: white;
}

.nav__list {
  padding: 0 1.5rem;
}

.nav__item:first-of-type,
.nav__item:last-of-type {
  margin: 2rem 0;
}

.nav__item {
  margin: 4rem 0;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 480px;
  background-color: white;
  padding: 0;
  box-shadow: 0px 50px 50px rgba(117, 124, 126, 0.1);
  transition: all 0.1s ease-out;
  padding: 2rem;
  opacity: 0;
  z-index: 3;

  &.cart--expanded {
    right: 0;
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 2; /* Ensure it appears below the cart */

  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s;
}

.cart--expanded + .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .header {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 990px) {
  .header .nav-toggler {
    display: none;
  }

  .header .header__content {
    justify-content: flex-end;
  }

  .header__content .nav {
    position: static;
    display: inline !important;
    max-height: fit-content;
    width: auto;
    box-shadow: none;
    background-color: transparent;
  }

  .header .cart-open {
    order: 2;
    max-height: 55px;
    max-width: 55px;
  }

  .header .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header .nav__item {
    margin: 0;
    padding: 0;
    margin-right: 3rem;
  }
}

/* Hero Block */

.hero .block__header {
  margin-bottom: 5rem;
}

.hero .block__heading {
  color: var(--color-heading-black);
  margin-bottom: 2rem;
}

.hero .spn--primary {
  color: var(--color-primary);
}

.block__header p {
  margin-bottom: 5rem;
}

.block__header .btn {
  margin-bottom: 3rem;
}

.hero__rating-logo {
  width: 100px;
}

.hero__rating-text {
  font-size: 1.6rem;

  & a {
    text-decoration: none;
  }
}

.hero__img {
  margin-bottom: 8rem;
  max-width: 614px;
  margin-right: 5rem;
}

@media screen and (min-width: 480px) {
  .hero .block__header {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 990px) {
  .hero .block__header {
    text-align: left;
  }

  .hero__rating-logo {
    width: 120px;
  }
}

/* Feature Article Block */

.feature-article {
  background-color: var(--color-secondary);
  padding: 2rem;
  z-index: -2;
}

.feature-article .block__header {
  margin-top: 10rem;
  position: relative;
  z-index: 1;
  text-align: center;
}

.feature-article .block__heading {
  text-rendering: geometricPrecision !important;
  color: var(--color-primary);
  margin-bottom: 2rem;
  letter-spacing: -2px;
  font-size: 5.5rem;
}

.feature-article__img {
  margin-bottom: 8rem;
  margin-left: 15vw;
  margin-right: 15vw;
  max-width: 650px;
}

@media screen and (min-width: 990px) {
  .feature-article {
    background: none;
  }

  .feature-article .block__header {
    margin: 0;
    margin-right: 5rem;
    text-align: left;
  }

  .feature-article__img {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8rem;
    max-width: 862px;
  }
}

/* Features Block Media */

.features-block {
  margin: 10rem auto;
}

.features-block .block__header {
  margin-bottom: 7rem;
}

.features-block .block__heading {
  color: var(--color-primary);
}

.features-block__media img {
  max-width: 400px;
}

.features-block__media {
  align-items: start;
}

.features-block .media {
  margin-bottom: 7rem;
}

.features-block .media__body {
  max-width: 40ch;
}

@media screen and (min-width: 990px) {
  .features-block__media img {
    max-width: 300px;
  }

  .features-block .media {
    margin-bottom: 0;
  }
}

/* Menu block */

.menu-block {
  background-color: var(--color-secondary);
}

.menu-block .block__header {
  margin: 10rem 0 5rem 0;
}

.menu-block .block__heading {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.menu-block .block__header p {
  max-width: 50ch;
  margin: 0 auto;
}

.menu__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.menu__category .btn {
  display: inline-block;
  width: 100%;
}

.menu__catalog {
  gap: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.menu__catalog .product-contaner {
  background-color: white;
}

.menu__btn {
  margin: 5rem 0 10rem 0;
  grid-column: span 1;
}
@media screen and (min-width: 500px) {
  .menu__category {
    flex-direction: row;
    gap: 3rem;
  }

  .menu__category .btn {
    display: inline;
    width: auto;
    padding: 1.75rem 4.5rem;
  }
}
@media screen and (min-width: 990px) {
  .menu-block {
    background-color: transparent;
  }
  .menu-block .bg-container {
    position: absolute;
    right: 0;
    left: 0;
  }

  .menu__catalog {
    margin: 0;
  }

  .menu__btn {
    grid-column: span 2;
  }
}

/* Order block */

.order-block {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.order-block__image {
  position: relative;
  margin-bottom: 5rem;
}

.order__supp {
  position: absolute;
  max-width: 100px;
  top: 0;
  left: 0;
}

.order-block .block__header {
  text-align: center;
}

.order-block .block__heading {
  margin-bottom: 2rem;
  color: var(--color-primary);
}

@media screen and (min-width: 990px) {
  .order-block .block__header {
    text-align: left;
  }
  .order-block__image {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 550px) {
  .order__supp {
    max-width: 200px;
  }
}

/* Contact block */

.contact-block .block__header {
  text-align: center;
}

.contact-block .block__heading {
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.contact-block__img {
  max-width: 550px;
}

@media screen and (min-width: 990px) {
  .contact-block .block__header {
    text-align: left;
  }
  .contact-block__image {
    margin-bottom: 0;
  }
}

/* Support block */

.support-block__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.support-block {
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
}

.support-block .block__header {
  padding: 4rem 2rem;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.support-block .block__heading {
  max-width: 15ch;
  margin-bottom: 5rem;
  color: white;
  & span {
    color: var(--color-heading-darker);
  }
}

@media screen and (min-width: 990px) {
  .support-block {
    gap: 2rem;
    grid-template-rows: 1fr;
  }

  .support-block .block__header {
    padding: 5rem;
    align-items: start;
  }
  .support-block__image {
    margin-bottom: 0;
  }
}

/* Footer */

.footer {
  position: relative;
  padding-top: 10rem;
  background-color: var(--color-secondary);
  padding-bottom: 10rem;
  overflow: hidden;
}

.footer__pattern {
  position: absolute;
  bottom: -20vw;
  left: -20vw;
  width: 40vw;
  z-index: 0;
}

.footer__brand {
  margin-left: 2rem;
  align-self: flex-start;
  justify-self: start;
  z-index: 1;
}

.footer__logo {
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
}

.footer__brand p {
  max-width: 25ch;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-self: start;
  margin-left: 2rem;
}

.footer__list {
  font-size: 1.6rem;
}

.item-heading {
  text-transform: uppercase;
  color: var(--color-heading-black);
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.footer_item {
  margin-bottom: 2rem;
  cursor: pointer;
  &:hover {
    color: var(--color-heading-black);
  }
}

@media screen and (min-width: 480px) {
  .footer__nav {
    gap: 10rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer > .grid-1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 990px) {
  .footer__nav {
    gap: 15rem;
  }
}
