<button class="btn btn--transparent">Place an Order</button>
<button class="btn btn--waves">Learn about us</button>
<button class="btn btn--waves btn--block">Learn about us</button>
<button class="btn btn--outline btn--stretch">Drinks</button>
<button class="btn btn--primary btn--shrink">Add to Cart</button>
<button class="btn btn--white">Add to Cart</button>
<button class="btn btn--waves btn--icon">
  <svg class="icon icon--white">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>
</button>
