<div class="collapsible collapsible--expanded">
  <div class="collapsible__header">
    <h2 class="collapsible__heading">Do you offer any vegan options?</h2>
    <svg class="collapsible__icon icon">
      <use xlink:href="images/sprite.svg#plus"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ab
    similique quod facilis animi omnis sequi maxime, esse accusantium non
    praesentium quisquam quo dignissimos iure cum excepturi magni. Enim
    asperiores quod doloribus exercitationem a optio vero architecto, velit quae
    dolores molestiae id nisi consectetur facilis deleniti quas vitae!
    Similique, laborum?
  </div>
</div>
