<div class="bg-container-2">
  <section class="contact-block block main-grid grid-1x2">
    <div class="block__header">
      <h2 class="block__heading">
        Call our store and takeaway when it suits you best.
      </h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500.
      </p>
      <button class="btn btn--waves">Ph. +61 233 2333</button>
    </div>
    <img class="contact-block__img" src="/images/food-takeaway.png" alt="" />
  </section>
</div>
