<div class="bg-container">
  <img class="background-2" src="images/BG-Shape-2.svg" alt="" />
</div>
<section class="feature-article block main-grid grid-1x2">
  <div class="block__header">
    <img class="background-yumm" src="images/yumyum.png" alt="" />
    <h2 class="block__heading">The home of fresh products</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500.
    </p>
    <button class="btn btn--waves">Learn about us</button>
  </div>
  <img class="feature-article__img" src="/images/team-image.png" alt="" />
</section>
