<div class="bg-container">
  <img class="background-1" src="images/BG-Shape-1.svg" alt="" />
</div>
<section class="hero block main-grid grid-1x2">
  <div class="block__header">
    <h1 class="block__heading">
      Beautiful food & takeaway,
      <span class="spn--primary">delivered</span> to your door.
    </h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500.
    </p>
    <button class="btn btn--waves">Place an Order</button>
    <div class="hero__rating">
      <img class="hero__rating-logo" src="/images/trustpilot-logo.svg" alt="" />
      <p class="hero__rating-text">
        <a href="#">4.8 out of 5</a> based on 2000+ reviews
      </p>
    </div>
  </div>
  <img class="hero__img" src="/images/food-image.png" alt="" />
</section>
