      <section class="menu-block block main-grid">
        <div class="bg-container">
          <img class="background-2" src="images/BG-Shape-2.svg" alt="" />
        </div>
        <div class="block__header">
          <h2 class="block__heading">Browse our menu</h2>
          <p>
            Use our menu to place an order online, or <a href="">phone</a> our
            store to place a pickup order. Fast and fresh food.
          </p>
        </div>
        <div class="menu">
          <div class="menu__category">
            <button class="btn btn--waves">Burgers</button>
            <button class="btn btn--outline">Sides</button>
            <button class="btn btn--outline">Drinks</button>
          </div>
          <div class="menu__catalog grid-1x2">
              <div class="product-contaner">
                <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
                <div class="product-contaner__body">
                  <div class="product-contaner__header">
                    <h6 class="product-contaner__title">Burger Dreams</h3>
                    <p class="product-contaner__price-tag">$ 9.20 USD</p>
                  </div>
                  <p class="product-contaner__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    dolores animi ex atque odio?
                  </p>
                  <form class="product-contaner__input-group">
                    <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
                    <button class="btn btn--primary btn--shrink">Add to Cart</button>
                  </form>
                </div>
              </div>
              <div class="product-contaner">
                <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
                <div class="product-contaner__body">
                  <div class="product-contaner__header">
                    <h6 class="product-contaner__title">Burger Dreams</h3>
                    <p class="product-contaner__price-tag">$ 9.20 USD</p>
                  </div>
                  <p class="product-contaner__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    dolores animi ex atque odio?
                  </p>
                  <form class="product-contaner__input-group">
                    <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
                    <button class="btn btn--primary btn--shrink">Add to Cart</button>
                  </form>
                </div>
              </div>
              <div class="product-contaner">
                <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
                <div class="product-contaner__body">
                  <div class="product-contaner__header">
                    <h6 class="product-contaner__title">Burger Dreams</h3>
                    <p class="product-contaner__price-tag">$ 9.20 USD</p>
                  </div>
                  <p class="product-contaner__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    dolores animi ex atque odio?
                  </p>
                  <form class="product-contaner__input-group">
                    <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
                    <button class="btn btn--primary btn--shrink">Add to Cart</button>
                  </form>
                </div>
              </div> <div class="product-contaner">
                <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
                <div class="product-contaner__body">
                  <div class="product-contaner__header">
                    <h6 class="product-contaner__title">Burger Dreams</h3>
                    <p class="product-contaner__price-tag">$ 9.20 USD</p>
                  </div>
                  <p class="product-contaner__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    dolores animi ex atque odio?
                  </p>
                  <form class="product-contaner__input-group">
                    <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
                    <button class="btn btn--primary btn--shrink">Add to Cart</button>
                  </form>
                </div>
              </div> <div class="product-contaner">
                <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
                <div class="product-contaner__body">
                  <div class="product-contaner__header">
                    <h6 class="product-contaner__title">Burger Dreams</h3>
                    <p class="product-contaner__price-tag">$ 9.20 USD</p>
                  </div>
                  <p class="product-contaner__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    dolores animi ex atque odio?
                  </p>
                  <form class="product-contaner__input-group">
                    <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
                    <button class="btn btn--primary btn--shrink">Add to Cart</button>
                  </form>
                </div>
              </div> <div class="product-contaner">
                <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
                <div class="product-contaner__body">
                  <div class="product-contaner__header">
                    <h6 class="product-contaner__title">Burger Dreams</h3>
                    <p class="product-contaner__price-tag">$ 9.20 USD</p>
                  </div>
                  <p class="product-contaner__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
                    dolores animi ex atque odio?
                  </p>
                  <form class="product-contaner__input-group">
                    <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
                    <button class="btn btn--primary btn--shrink">Add to Cart</button>
                  </form>
                </div>
              </div>
            <button class="menu__btn btn btn--waves">See Full Menu</button>
          </div>
        </div>
      </section>