<section class="order-block block main-grid grid-1x2">
  <div class="order-block__image">
    <img class="order__img" src="/images/phones.png" alt="" />
    <img class="order__supp" src="/images/content-pattern.svg" alt="" />
  </div>
  <div class="block__header">
    <h2 class="block__heading">Order online with our simple checkout.</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500.
    </p>
    <button class="btn btn--waves">See our FAQ</button>
  </div>
</section>
