    <div>
      <div class="product-contaner">
        <img class="product-contaner__picture" src="./images/burger-1.png" alt="" />
        <div class="product-contaner__body">
          <div class="product-contaner__header">
            <h6 class="product-contaner__title">Burger Dreams</h3>
            <p class="product-contaner__price-tag">$ 9.20 USD</p>
          </div>
          <p class="product-contaner__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
            dolores animi ex atque odio?
          </p>
          <form class="product-contaner__input-group">
            <input type="number" class="product-contaner__input" step="1" value="1" max="50"/>
            <button class="btn btn--primary btn--shrink">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>